@import "../../../styles/_variables.scss";

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

$fadeInDuration: 0.25;
$fadeOutDuration: 0.1;

.alert {

  border: 2px solid;
  border-radius: 20px;

  padding: 10px 20px;
  margin: 5px;

  text-align: center;
  font-weight: bold !important;

  cursor: pointer;
  pointer-events: all;

  animation: show $fadeInDuration+s;

  &.info {
    border-color: $infoBorder;
    background-color: $info;
    color: $infoBorder;
  }

  &.warning {
    border-color: $warningBorder;
    background-color: $warning;
    color: $warningBorder;
  }

  &.danger {
    border-color: $dangerBorder;
    background-color: $danger;
    color: $dangerBorder;
  }

  &.success {
    border-color: $successBorder;
    background-color: $success;
    color: $successBorder;
  }

  &.hide {
    animation: hide $fadeOutDuration+s;
  }
}

/*
  EXPORT
*/
:export {
  fadeOutDuration: $fadeOutDuration;
}