$animationDuration: 0.25s;
$transitionProperties: opacity, left, right, top, bottom;
$transitionDurations: $animationDuration, $animationDuration, $animationDuration, $animationDuration, $animationDuration;
$transitionDelays: 0s, 0s, 0s, 0s, 0s, 0s;

.alert {
  position: absolute;
  z-index: 1000;

  padding: 20px;
  margin: 30px;
  overflow: hidden;

  border: 2px solid;
  border-radius: 20px;

  text-align: center;
  font-weight: bold !important;

  transition-property: $transitionProperties;
  transition-duration: $transitionDurations;
  transition-timing-function: ease-out;

  &.info {
    border-color: darkslategrey;
    background-color: rgba(skyblue, 0.2);
    color: darkslategrey;
  }

  &.warning {
    border-color: chocolate;
    background-color: rgba(orange, 0.2);
    color: chocolate;
  }

  &.danger {
    border-color: darkred;
    background-color: rgba(red, 0.2);
    color: darkred;
  }

  &.success {
    border-color: darkgreen;
    background-color: rgba(green, 0.2);
    color: darkgreen;
  }

  &[class*=top] {
    top: 0;

    &.hide {
      top: -50%;
    }
  }

  &[class*=bottom] {
    bottom: 0;
    
    &.hide {
      bottom: -50%;
    }
  }

  &[class*=-left] {
    left: 0;
  }

  &[class*=-center] {
    left: 50%;
    transform: translateX(-50%);
  }

  &[class*=-right] {
    right: 0;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;

    transition-property: $transitionProperties, visibility;
    transition-duration: $transitionDurations, 0s;
    transition-delay: $transitionDelays, $animationDuration;
    transition-timing-function: ease-in;
  }

  &.show {
    opacity: 1;
  }

  // Little hack to be sure partial class selectors work with NextJS
  .top-left, .top-center, .top-right, .bottom-left, .bottom-center, .bottom-right { display: initial; }
}